:root {
  --background-color: hsl(0, 0%, 7%);
  --primary-color: hsl(0, 0%, 14%);
  --secondary-color: hsl(0, 0%, 21%);
  --border-color: hsla(0, 0%, 100%, 0.23);
  --font-color: hsl(0, 0%, 100%);
  --font-family: sans-serif;
  --heading-color: hsl(323, 64%, 42%);
  --color-test: 0, 0%, 100%;
  --border-radius: 3px;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: transparent;
  background-image: linear-gradient(var(--heading-color), white);
  background-clip: text;

  .material-symbols-outlined {
    font-size: larger;
  }
}

h1,
h2 {
  margin: 0;
}

h2,
h3 {
  color: var(--heading-color);
}

section {
  background-color: var(--primary-color);
  border-radius: 3px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  background-color: transparent;
  color: var(--font-color);
}

button {
  padding: 5px;
  border-radius: 3px;
  background-color: transparent;
  border: none;
  color: var(--font-color);
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.search {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.filters {
  visibility: hidden;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 20px;
  padding: 20px;
  border: 1px solid var(--border-color);
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 200ms ease-in-out,
    visibility 180ms ease-in-out;
}

.filters.expanded {
  visibility: visible;
  max-height: 500px;
  overflow: auto;
  animation: hide-scroll 200ms backwards;
}

.filters ol {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
}

@keyframes hide-scroll {
  from,
  to {
    overflow: hidden;
  }
}

.ingredients-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cocktail-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.checkbox {
  padding: 9px;
}
